<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filter</key>
	<dict>
		<key>Bundles</key>
		<array>
			<string>com.apple.TestFlight</string>
			<string>com.apple.springboard</string>
			<string>com.apple.AppStore</string>
			<string>com.apple.PassbookUIService</string>
		</array>
		<key>Executables</key>
		<array>
			<string>amsengagementd</string>
			<string>appstored</string>
			<string>storekitd</string>
			<string>PassbookUIService</string>
			<string>coreauthd</string>
		</array>
	</dict>
</dict>
</plist>
