Name: tfauto
Description: TestFlight build browse/install bridge for dkrypt, plus SSH-toggleable dark-screen/no-sleep control
Version: 0.1.0
Package: dev.adrian.tfauto
Architecture: iphoneos-arm64
Maintainer: Adrian Castro
Author: Adrian Castro
Section: Tweaks
Depends: ellekit
